<%- include("partials/header") %>
<%- include("partials/navbar-loggedIn") %>

<body id="profile">

  <div class="container">
    <form class="form-horizontal" role="form" action="/saveProfile" method="POST">
      <h2>Profile</h2>
      <div class="form-group profile">
        <label for="firstName" class="col-sm-3 control-label">First Name</label>
        <div class="col-sm-9">
          <p class="col-sm-9"><%= user.firstName %></p>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName" class="col-sm-3 control-label">Last Name</label>
        <div class="col-sm-9">
          <p class="col-sm-9"><%= user.lastName %></p>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Preferred Email </label>
        <div class="col-sm-9">
          <p class="col-sm-9"><%= user.preferredEmail %></p>
        </div>
      </div>
      <div class="form-group">
        <label for="birthDate" class="col-sm-3 control-label">Date of Birth*</label>
        <div class="col-sm-9">
          <p class="col-sm-9"><%= user.birthDate %></p>
        </div>
      </div>
      <div class="form-group">
        <label for="cellNumber" class="col-sm-3 control-label">Cell number </label>
        <div class="col-sm-9">
          <p class="col-sm-9"><%= user.cellPhone %></p>
          <span class="help-block">Your cell number won't be disclosed anywhere </span>
        </div>
      </div>
      <div class="form-group">
        <label for="schoolId" class="col-sm-3 control-label">School ID </label>
        <div class="col-sm-9">
          <p class="col-sm-9"><%= user.schoolId %></p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <span class="help-block">*Required fields</span>
        </div>
      </div>
      <a href="/profile-edit" class="btn btn-primary btn-block">Edit</a>
    </form> <!-- /form -->
  </div> <!-- ./container -->



  <%- include("partials/footer") %>
